/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#loginContainer,
#dashboardContainer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background: #005a87;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button:hover {
    background: #00415a;
}

#noteInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

h1 {
    margin-bottom: 20px;
}

#notesContainer {
    text-align: left;
    margin-top: 20px;
}

.note {
    background: #fff4c9;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
